{% extends "layout.html" %}

{% block title %}
Blogs List
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Blogs List</h1>
    <!-- Check if there are any blogs to display -->
    {% if blogs %}
        <ul class="list-group">
            <!-- Loop through each blog in the blogs list -->
            {% for blog in blogs %}
                <li class="list-group-item">
                    <!-- Display the title of the blog -->
                    <h2>{{ blog.title }}</h2>
                    <!-- Display the content of the blog -->
                    <p>{{ blog.content }}</p>
                </li>
            {% endfor %}
        </ul>
    <!-- If no blogs are found, display a message -->
    {% else %}
        <p>No blogs found.</p>
    {% endif %}
</div>
{% endblock %}