{% extends "layout.html" %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="news">
        <h1>News Articles</h1>
        <ul>
            {% for article in news_articles %}
                <li>
                    <h2>{{ article['title'] }}</h2>
                    <p>{{ article['description'] }}</p>
                    <a href="{{ article['url'] }}" target="_blank">Read more</a>
                    <p><strong>Source:</strong> {{ article['source'] }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}