{% extends "layout.html" %}
{% block title %}News List{% endblock %}

{% block content %}
<div class="container darker-background-2">
    <h1>News List</h1>
    <p>This is the news list page with a different darker background.</p>
    <!-- Add more content as needed -->
    <div class="container mt-4">
        <h2>News List</h2>
        {% for article in articles %}
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ article.title }}</h3>
                    <div class="row">
                        {% if article.image_url %}
                            <div class="col-md-4">
                                <img src="{{ article.image_url }}" class="img-fluid" alt="{{ article.title }}" style="max-width: 100%; height: auto;">
                            </div>
                        {% endif %}
                        <div class="col-md-8">
                            <p class="card-text"><strong>Description:</strong> {{ article.description }}</p>
                            <p class="card-text">{{ article.body }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}