{% extends "layout.html" %}
{% block title %}News List{% endblock %}

{% block content %}
<div class="container darker-background-2 mt-4">
    {% if articles %}
        {% for article in articles %}
            <div class="card mb-4 bg-dark text-white">
                <div class="card-body">
                    <h3 class="card-title">{{ article.title }}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">By {{ article.author }}</h6>
                    <div class="row">
                        {% if article.image %}
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='uploads/' ~ article.image) }}" class="img-fluid" alt="{{ article.title }}" style="max-width: 100%; height: auto;">
                            </div>
                        {% endif %}
                        <div class="col-md-8">
                            <p class="card-text"><strong>Description:</strong> {{ article.description }}</p>
                            <a href="#" class="read-more-link" data-article-id="{{ loop.index }}">Read More</a>
                            <div class="article-body" id="article-body-{{ loop.index }}" style="display: none;">
                                <p class="card-text">{{ article.body }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No articles found.</p>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const readMoreLinks = document.querySelectorAll('.read-more-link');
    readMoreLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const articleId = this.getAttribute('data-article-id');
            const articleBody = document.getElementById('article-body-' + articleId);
            if (articleBody.style.display === 'none') {
                articleBody.style.display = 'block';
                this.textContent = 'Read Less';
            } else {
                articleBody.style.display = 'none';
                this.textContent = 'Read More';
            }
        });
    });
});
</script>
{% endblock %}