{% extends "layout.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="container mt-4 darker-background">
    <h2>Settings</h2>
    <p>Manage your account settings here.</p>
    <div class="list-group">
        <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-user-circle"></i> Profile
        </a>
        <a href="{{ url_for('change_password') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-key"></i> Change Password
        </a>
        <a href="{{ url_for('change_username') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-user-edit"></i> Change Username
        </a>
        <a href="{{ url_for('change_cellphone') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-phone"></i> Change Cellphone Number
        </a>
        <a href="{{ url_for('change_email') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-envelope"></i> Change Email
        </a>
        <!-- Add more settings links as needed -->
    </div>
</div>
{% endblock %}