{% extends "layout.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4 shadow-sm">
        <img src="{{ url_for('static', filename='uploads/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>${{ product.price }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}
