{% extends "layout.html" %}
{% block title %}Product List{% endblock %}

{% block content %}
<div class="container mt-4" style="background-color: #343a40; color: #fff; padding: 20px; border-radius: 8px;">
    <h2>Product List</h2>
    <h3 class="text-center">LAGUMES
        {% if 'username' in session and session['username'] == 'saulesto' %}
            <a href="{{ url_for('shop.add_product') }}" class="btn btn-primary btn-sm ml-2">Add Product</a>
        {% endif %}
    </h3>
    <div id="lagumesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% if products %}
            {% for product in products %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #495057; color: #fff;">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='uploads/' ~ product.image) }}" alt="{{ product.name }}" style="width: 50px; height: 50px; object-fit: cover; margin-right: 15px;">
                        <div>
                            <h5><a href="{{ url_for('product_detail', product_id=product.id) }}" style="color: #fff;">{{ product.name }}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="carousel-item active">
                <div class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #495057; color: #fff;">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5>No products found.</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#lagumesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#lagumesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}